<div class="ui-grid-cell-contents">
  <div class="btn-group">
    <button type="button" class="btn btn-xs btn-primary" ng-click="getExternalScopes().view(row)">
      <i class="fa fa-eye"></i>
    </button>
    <button type="button" class="btn btn-xs btn-info" ng-click="getExternalScopes().edit(row)">
      <i class="fa fa-pencil"></i>
    </button>
    <button type="button" class="btn btn-xs btn-danger" ng-click="getExternalScopes().remove(row)">
      <i class="fa fa-trash"></i>
    </button>
  </div>
</div>