<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-primary" ng-class="error && 'panel-danger' || 'panel-primary'">
      <div class="panel-heading">
        Sign in
      </div>
      <div class="panel-body">
        <!-- Form start-->
        <form name="loginForm" ng-submit="login()" class="form-horizontal" ng-class="error && 'has-error'">
          <!-- Email -->
          <div class="form-group" ng-class="loginForm.email.$invalid && 'has-error'">
            <label for="email" class="col-sm-2 control-label">Email address</label>
            <div class="col-sm-10">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-envelope"></i>
                </div>
                <input
                class="form-control"
                placeholder="Enter email"
                type="email"
                name="email"
                ng-model="user.email"
                required
                />
              </div>
            </div>
          </div>
          
          <!-- Password -->
          <div class="form-group" ng-class="loginForm.password.$invalid && 'has-error'">
            <label for="password" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-key"></i>
                </div>
                <input
                class="form-control"
                placeholder="Enter password"
                type="password"
                name="password"
                ng-model="user.password" 
                required
                />
              </div>
            </div>
          </div>
          
          <!-- Submit -->
          <button type="submit" class="btn btn-primary btn-block">Submit</button>
        <!-- Form end -->
        </form>
      </div>
    </div>
  </div>
</div>